* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2.5rem;
    text-align:center;
}

.flexbox1, .flexbox2, .flexbox3 {
    width: 30%;
    height: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.green, .green2, .green3 {
    background-color: #1CBC9D;
}

.blue, .blue2, .blue3 {
    background-color: #3498DB;
}

.purple, .purple2, .purple3 {
    background-color: #9B59B6;
}

.orange, .orange2, .orange3 {
    background-color: #E67E22;
}

.red, .red2, .red3 {
    background-color: #E74C3C;
}

.green, .blue, .purple, .orange, .red {
    height: 100%;
    flex-grow: 1;
}

.flexbox2 {
    flex-wrap: wrap;
}

.green2, .blue2, .purple2, .orange2, .red2 {
    flex-basis: 25%;
}

.green3, .blue3, .purple3, .orange3, .red3 {
    margin: 2px;
    width: 24%;
    height: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox3 {
    flex-wrap: wrap;
    justify-content: space-around;
}