* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
}

.flexbox1, .flexbox2, .flexbox3 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.flexbox1 {
    width: 50%;

}

.green, .green2, .green3 {
    background-color: #1CBC9D;
}

.blue, .blue2, .blue3 {
    background-color: #3498DB;
}

.purple, .purple2, .purple3 {
    background-color: #9B59B6;
}

.orange, .orange2, .orange3 {
    background-color: #E67E22;
}

.red, .red2, .red3 {
    background-color: #E74C3C;
}

.green, .blue, .purple, .orange, .red {
    width: 24%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.flexbox2 {
    width: 1024px;
}

.green2, .blue2, .purple2, .orange2, .red2 {
    width: 505px;
    height: 505px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.green3, .blue3, .purple3, .orange3, .red3 {
    width: 99%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.red, .red2 {
    width: 99%;
}

.flexbox3 {
    width: 600px;
}